{% extends "layout/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}


  {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'web/styles/loader.css' %}" media="all">
{% endblock %}


{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block content %}
<style>
    .negrito{
        font-weight: bold;
    }
</style>


<div id="content-main" class="container-fluid">
    <div class="tela-inteira" v-if="carregando">
         <div class="lds-hourglass"> </div>
    </div>

    <div style="white-space: pre;" class="alert alert-success" v-if="mensagemSucesso.length > 1">
        <button class="close" data-dismiss="alert">x</button>
        [[mensagemSucesso]]
    </div>
    <div style="white-space: pre;" class="alert alert-danger" v-if="mensagemErro.length > 1">
        <button class="close" data-dismiss="alert">x</button>
        [[mensagemErro]]
    </div>
    <div class="row">
        <form action="/escala/" method="post">
            {% csrf_token %}
            <ul style="list-style: none; float: left">
                <li style="float:left; padding: 5px">
                    <label for="perfil">Perfil:</label>
                    <select v-model="perfil" id="perfil" class="form-control">
                        <optgroup label="Selecione um Perfil"></optgroup>
                        <option v-for="p in perfis" v-bind:value="p">[[p.descricao]]</option>
                    </select>
                </li>
                <li style="float:left; padding: 5px">
                    <label for="dataInicio">Data de Início da Escala</label>
                    <input class="form-control" type="date" style="width:150px;" id="dataInicio" v-model="dataInicio" />
                </li>
                <li style="float:left; padding: 5px">
                    <label for="cliente">Cliente:</label>
                    <select v-model="cliente" id="cliente"  class="form-control">
                        <optgroup label="Selecione um Cliente"></optgroup>
                        <option v-for="c in clientes" v-bind:value="c">[[c.nomeFantasia]]</option>
                    </select>
                </li>
                <li style="float:left; padding: 5px">
                    <label for="ponto" v-if="cliente.id">Ponto de Alocação:</label>
                    <select v-model="ponto" v-if="cliente.id" id="ponto" class="form-control">
                        <optgroup label="Selecione um Ponto de Alocação"></optgroup>
                        <option v-for="p in pontos" v-bind:value="p">[[p.nome]] - [[p.descricao]]</option>
                    </select>
                </li>
                <li style="float:left; padding: 5px">
                    <label for="turno" v-if="ponto.id">Turnos do Ponto:</label>
                    <select v-model="turno" v-if="ponto.id" id="ponto" class="form-control">
                        <optgroup label="Selecione um Turno"></optgroup>
                        <option v-for="t in turnos" v-bind:value="t">[[t.turno.descricao]]</option>
                    </select>
                </li>
            </ul>

            <button type="button" class="btn btn-primary" v-on:click="salvaEscala()">Salvar Escala</button>
        </form>
    </div>
    <table class="table table-bordered" id="calendar" v-if="dataInicio && perfil.id">
      <thead>
        <tr>
          <th scope="col" v-for="d in perfil.dias">
              [[ dataInicio, (d - 1) | moment ]]
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="perfil.id && cliente.id && turno.id" style="font-size: 11px" >
          <td v-for="p in perfil.dias">
              <table class="table table-bordered">
                  <tr v-for="i in getIntervaloHoras(turno.turno.horaInicio, turno.turno.horaFim)">
                      <td>
                          <p >
                              [[ turno.turno.horaInicio, (i - 1) | horas ]]
                          </p>
                          <ul>
                              <li v-for="c in colaboradoresDia(p, (turno.turno.horaInicio, (i - 1)))">[[ c ]]</li>
                          </ul>
                          <br/>
                            <a style="cursor: pointer;" v-on:click="abreModalColaboradores(
                                            dataInicio, p, turno.turno.horaInicio, turno.turno.horaFim)"
                                            data-toggle="modal" data-target="#modalColaboradores">Adicionar Colaboradores</a>

                      </td>
                  </tr>
              </table>
          </td>
        </tr>

      </tbody>
    </table>
    <div class="modal fade" id="modalColaboradores" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Título do modal</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" v-if="escalaColaborador.dataInicio && escalaColaborador.dataFim">
            Adicionar Colaborador em [[ escalaColaborador.dataInicio ]] - [[ escalaColaborador.dataFim ]]. <br/>
            <p v-for="c in colaboradoresDisponiveis" >
                [[ c.first_name ]] [[ c.last_name ]] - <button type="button" v-on:click="adicionaColaboradorEscala(c)" class="btn btn-primary adicionaColaborador">Adicionar</button>
            </p>
          </div>
        </div>
      </div>
    </div>

    <script type="application/javascript">
        var token = '{{csrf_token}}';
        var userId = "{{request.user.id}}";
    </script>

    <script src="{% static 'web/criaescala.js' %}"></script>
</div>

{% endblock %}



