{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}
  {{ block.super }}
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

    <!-- Load required Bootstrap and BootstrapVue CSS -->
<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
<!-- Load polyfills to support older browsers -->
<script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>
<!-- Load Vue followed by BootstrapVue -->
<script src="https://vuejs.org/js/vue.js"></script>
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>


  <div id="content-main" class="container-fluid">
    <div class="row">
        <form action="/escala/" method="post">
            {% csrf_token %}
            <ul style="list-style: none; float: left">
                <li style="float:left; padding: 5px">
                    <label for="dataInicio">Data de Início da Escala</label>
                    <input class="form-control" type="date" id="dataInicio" v-model="dataInicio" />
                </li>
                <li style="float:left; padding: 5px">
                    <label for="cliente">Cliente:</label><br/>
                    <select v-model="cliente" id="cliente"  class="form-control">
                        <optgroup label="Selecione um Cliente"></optgroup>
                        <option v-for="c in clientes" v-bind:value="c">[[c.nomeFantasia]]</option>
                    </select>
                </li>
                <li style="float:left; padding: 5px">
                    <label for="perfil">Perfil:</label><br/>
                    <select v-model="perfil" id="perfil" class="form-control">
                        <optgroup label="Selecione um Perfil"></optgroup>
                        <option v-for="p in perfis" v-bind:value="p">[[p.descricao]]</option>
                    </select>
                </li>
                <li style="float:left; padding: 5px">
                    <label for="ponto" v-if="cliente.id">Ponto de Alocação:</label><br/>
                    <select v-model="ponto" v-if="cliente.id" id="ponto" class="form-control">
                        <optgroup label="Selecione um Ponto de Alocação"></optgroup>
                        <option v-for="p in pontos" v-bind:value="p">[[p.nome]] - [[p.descricao]]</option>
                    </select>
                </li>
                <li style="float:left; padding: 5px">
                    <label for="turno" v-if="ponto.id">Turnos do Ponto:</label><br/>
                    <select v-model="turno" v-if="ponto.id" id="ponto" class="form-control">
                        <optgroup label="Selecione um Turno"></optgroup>
                        <option v-for="t in turnos" v-bind:value="t">[[t.turno.descricao]]</option>
                    </select>
                </li>
            </ul>
        </form>
    </div>

      <table class="table table-bordered" id="calendar">
          <thead>
            <tr>
              <th scope="col" v-for="d in perfil.dias">
                  [[ dataInicio, (d - 1) | moment ]]
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="perfil.id && cliente.id && turno.id" style="font-size: 11px" >
              <td v-for="p in perfil.dias">
                  <table class="table table-bordered">
                      <tr>
                          <td>
                              <p v-for="i in getIntervaloHoras(turno.turno.horaInicio, turno.turno.horaFim)">
                                  [[ turno.turno.horaInicio, (i - 1) | horas ]]

                              </p>
                              <br/>
{#                              <p v-for="c in colaboradoresDisponiveis" >#}
{#                                      [[ c.first_name ]] [[ c.last_name ]]#}
{#                              </p>#}
                          </td>
                      </tr>
                  </table>
              </td>
            </tr>

          </tbody>
        </table>
  </div>

<script type="application/javascript">

        var app = new Vue({
            el : '#content-main',
            data: {
                colaboradoresDisponiveis: [],
                colaboradoresEscalados: [],
                loading: false,
                colaborador: {},
                message: null,
                perfis: [],
                perfil: {},
                pontos: [],
                ponto: {},
                clientes: [],
                cliente: {},
                turnos: [],
                turno: {},
                dataInicio: '',
                escala : []
            },
            delimiters: ["[[", "]]"],
            mounted: function () {
                this.getColaboradores();
                this.getPerfisJornada();
                this.getClientes();
            },
            watch: {
                cliente: function(val) {
                    this.getPontosAlocacao(val.id);
                },
                ponto: function(val) {
                    this.getTurnosPonto(val.id);
                }
            },
            filters: {
              moment: function (date, d) {
                  moment.locale('pt-BR');
                  //console.log(date);
                  return moment(date).add(d, 'days').format('dddd, DD/MM/YYYY');
              },
              horas: function (date, d) {
                  moment.locale('pt-BR');
                  horas = date.split(':');
                  console.log(d);
                  return moment({hour: horas[0], minute: horas[1]}).add(d, 'h').format('HH:mm')
                            + ' - '
                            + moment({hour: horas[0], minute: horas[1]}).add(d + 1, 'h').format('HH:mm');
              }
            },
            methods: {
                getIntervaloHoras: function(horaInicio, horaFim) {
                    let inicio = moment(horaInicio, "HH:mm");
                    let fim = moment(horaFim, "HH:mm");

                    return fim.diff(inicio, 'hours');
                },
                getColaboradores: function() {
                  this.loading = true;
                  this.$http.get('/api/colaborador/')
                      .then((response) => {
                        this.colaboradoresDisponiveis = response.data.results;
                        this.loading = false;
                      })
                      .catch((err) => {
                       this.loading = false;
                       console.log(err);
                      })
                 },
                getPerfisJornada: function() {
                  this.loading = true;
                  this.$http.get('/api/perfil-jornada/')
                      .then((response) => {
                        this.perfis = response.data.results;
                        this.loading = false;
                      })
                      .catch((err) => {
                       this.loading = false;
                       console.log(err);
                      })
                 },
                getPerfilJornada: function(id) {
                  this.loading = true;
                  this.$http.get('/api/perfil-jornada/'+id+'/')
                      .then((response) => {
                        this.perfil = response.data;
                        this.loading = false;
                      })
                      .catch((err) => {
                       this.loading = false;
                       console.log(err);
                      })
                 },
                 getPontosAlocacao: function(cliente) {
                  this.loading = true;
                  this.$http.get('/api/ponto-alocacao?cliente='+cliente)
                      .then((response) => {
                        this.pontos = response.data.results;
                        this.loading = false;
                      })
                      .catch((err) => {
                       this.loading = false;
                       console.log(err);
                      })
                 },
                getTurnosPonto: function(val) {
                  this.loading = true;
                  this.$http.get('/api/turno-ponto?pontoAlocacao='+val)
                      .then((response) => {
                        this.turnos = response.data.results;
                        this.loading = false;
                      })
                      .catch((err) => {
                       this.loading = false;
                       console.log(err);
                      })
                 },
                getClientes: function() {
                  this.loading = true;
                  this.$http.get('/api/cliente/')
                      .then((response) => {
                        this.clientes = response.data.results;
                        this.loading = false;
                      })
                      .catch((err) => {
                       this.loading = false;
                       console.log(err);
                      })
                 },
            }
        })

    </script>

  </div>

{% endblock %}



