{% extends "layout/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}
  {{ block.super }}
{% endblock %}


{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block content %}



  <div id="content-main">
    <div id="minhaescala">
  MENSAGEM DO VUE [[ message ]]



    <button v-on:click="buscar()">Buscar</button>

     dados: [[ escalas ]]<br>
     total: [[total]]

    </div>


  </div>


<script type="application/javascript" src="{% static 'web/minhaEscala.js' %}"></script>

{% endblock %}

