{% extends "layout/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}


  {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'web/styles/loader.css' %}" media="all">
{% endblock %}


{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block content %}
<style>
    .negrito{
        font-weight: bold;
    }
</style>


    <div id="minhaescala">

        <div class="tela-inteira" v-if="carregando">
             <div class="lds-hourglass"> </div>
        </div>


        <div class="alert alert-success" v-if="mensagemSucesso.length > 1">
            <button class="close" data-dismiss="alert">x</button>
            [[mensagemSucesso]]
        </div>
        <div class="alert alert-danger" v-if="mensagemErro.length > 1">
            <button class="close" data-dismiss="alert">x</button>
            [[mensagemErro]]
        </div>
        <div class="toolbar-content clearfix">
            <div class="clearfix">
                <h3>Filtro</h3>
                <div style="max-width: 100%">

                    <table>
                      <tr>
                        <td>Escala</td>
                        <td><input style="height: 30px;" type="text" v-model="filtroId" placeholder="Código da escala"></td>
                      </tr>
                      <tr>
                        <td>Colaborador</td>
                        <td><select style="height: 30px;" name="colaborador" v-model="filtroColaboradorId" id="id_colaborador" data-placeholder="Selecione um colaborador"> </select> </td>
                      </tr>
                      <tr>
                        <td>Data Inicial</td>
                        <td><input style="height: 30px;" type="date" v-model="filtroDataInicial" placeholder="Data Inicial"></td>
                      </tr>
                      <tr>
                        <td>Data Final</td>
                        <td><input style="height: 30px;" type="date" v-model="filtroDataFinal" placeholder="Data Final"></td>
                      </tr>
                      <tr>
                        <td>Status Solicitação</td>
                        <td>
                            <select style="height: 30px;" v-model="filtroStatus">
                                <option value="0" >Todos</option>
                                <option value="1" selected>Pendente</option>
                                <option value="2">Aceito</option>
                                <option value="3">Recusado</option>
                            </select>
                        </td>
                      </tr>
                      <tr>
                        <td></td>
                        <td><button type="button" v-on:click="buscar(1)" class="btn btn-info">Filtrar</button></td>
                      </tr>

                    </table>

                </div>
            </div>
        </div>
    <hr>
        <div id="content" class="flex row-fluid">
            <div id="content-main">
                <div class="inner-center-column" style="width: 125%">

                    <h1>Minhas escalas</h1>
                    <div class="">
                        <div style="margin-top: 10px" class="" v-for="escala in escalas">

                            <div style="border: 1px solid; padding:15px; width: 100%" class="card" >
                                <div class="card-header" >
                                    <h2>[[escala.colaborador.first_name]] [[escala.colaborador.last_name]]</h2>
                                </div>

                              <div class="card-body" >
                                <h4  class="card-title">
                                    <span v-if="escala.executada && escala.status !== 2" class="badge badge-success">Executada</span>
                                    <span v-if="! escala.executada && escala.status === 0" class="badge badge-success">Programada</span>
                                    <span v-if="escala.status === 2"  class="badge badge-danger">Cancelado</span>
                                    <span v-if="! escala.executada && escala.status === 1" class="badge badge-info">Confirmada</span>
                                     [[escala.dataInicio | datahora]]h - [[escala.escala.turnoPonto.pontoAlocacao.cliente.nomeFantasia]] / [[escala.escala.turnoPonto.pontoAlocacao.nome]]</h4>

                                  <table>
                                      <tr>
                                          <td class="negrito">Escala</td>
                                          <td class="">[[escala.id]] </td>
                                      </tr>
                                      <tr>
                                          <td class="negrito">Jornada</td>
                                          <td class="">[[escala.escala.turnoPonto.turno.descricao]] - [[escala.escala.turnoPonto.turno.periodo]]</td>
                                      </tr>

                                      <tr>
                                          <td class="negrito">Data</td>
                                          <td class=""><span class="badge badge-dark">[[ escala.horas ]]:00h </span> [[escala.dataInicio | datahora]]  até [[escala.dataFim | datahora]]</td>
                                      </tr>

                                      <tr>
                                          <td class="negrito">Registrado em</td>
                                          <td class="">[[escala.dataRegistro | datahora]]</td>
                                      </tr>

                                      <tr v-if="escala.dataConfirmacao">
                                          <td class="negrito">Confirmado em</td>
                                          <td class="">[[escala.dataConfirmacao | datahora]]</td>
                                      </tr>

                                      <tr v-if="escala.dataCancelamento">
                                          <td class="negrito">Cancelado em</td>
                                          <td class="">[[escala.dataCancelamento | datahora]]</td>
                                      </tr>

                                      <tr v-if="escala.statusSolicitacao" style="border-top: #000 1px solid">
                                          <td class="negrito">Alteração solicitada em</td>
                                          <td class="">[[escala.dataSolicitacaoAlteracao | datahora]]</td>
                                      </tr>
                                      <tr v-if="escala.statusSolicitacao">
                                          <td class="negrito">Solicitação de Alteração</td>
                                          <td class="">[[escala.solicitacaoAlteracao]]</td>
                                      </tr>
                                      <tr v-if="escala.statusSolicitacao">
                                          <td class="negrito">Status</td>
                                          <td class="">[[escala.statusSolicitataoFormatado]]</td>
                                      </tr>
                                      <tr v-if="escala.retornoSolicitacao">
                                          <td class="negrito">Retorno</td>
                                          <td class="">[[escala.retornoSolicitacao]]</td>
                                      </tr>

                                  </table>

                                  <div style="text-align: right">
                                      <button v-if="! escala.executada && escala.statusSolicitacao === 1 " v-on:click="abreModalAceitar(escala)" data-toggle="modal" data-target="#modal" class="btn btn-primary">Aceitar</button>
                                      <button v-if="! escala.executada && escala.statusSolicitacao === 1 " v-on:click="abreModalRejeitar(escala)" data-toggle="modal" data-target="#modal" class="btn btn-danger">Rejeitar</button>
                                  </div>

                              </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>

     total: [[total]]



        <div class="pagination-block">
            <div class="pagination">

               <ul class="pagination">

                  <li v-bind:class="{ active: pagina == paginacao.page }" v-for="pagina in paginacao.paginas" v-on:click="buscar(pagina)" ><a href="javascript:void(0)"> [[pagina]] </a></li>

                </ul>
            </div>

<!--            <div class="pagination-info muted">-->
<!--                x itens de Y-->
<!--            </div>-->
        </div>


<!--    Modal  Solicitação -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampsbel">Retorno de Solicitação</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

            <h4 v-if="escalaConfirma.dataInicio" class="card-title">[[escalaConfirma.dataInicio | datahora]]h - [[escalaConfirma.escala.turnoPonto.pontoAlocacao.cliente.nomeFantasia]] / [[escalaConfirma.escala.turnoPonto.pontoAlocacao.nome]]</h4>
            <div v-if="escalaConfirma.horas"><h5>Solicitante: [[escalaConfirma.colaborador.first_name ]] [[escalaConfirma.colaborador.last_name ]]</h5></div>
              <table>
                  <tr v-if="escalaConfirma.escala">
                      <td class="negrito">Jornada</td>
                      <td class="">[[escalaConfirma.escala.turnoPonto.turno.descricao]] - [[escalaConfirma.escala.turnoPonto.turno.periodo]]</td>
                  </tr>

                  <tr v-if="escalaConfirma.horas">
                      <td class="negrito">Data</td>
                      <td class=""><span class="badge badge-dark">[[ escalaConfirma.horas ]]:00h </span> [[escalaConfirma.dataInicio | datahora]]  até [[escalaConfirma.dataFim | datahora]]</td>
                  </tr>

                  <tr v-if="escalaConfirma.dataRegistro">
                      <td  class="negrito">Registrado em</td>
                      <td class="">[[escalaConfirma.dataRegistro | datahora]]</td>
                  </tr>

                  <tr v-if="escalaConfirma.dataConfirmacao">
                      <td class="negrito">Confirmado em</td>
                      <td class="">[[escalaConfirma.dataConfirmacao | datahora]]</td>
                  </tr>

                  <tr style="border-top:#000 1px solid" v-if="escalaConfirma.dataConfirmacao">
                      <td class="negrito">Solicitado em</td>
                      <td class="">[[escalaConfirma.dataSolicitacaoAlteracao | datahora]]</td>
                  </tr>
                  <tr >
                      <td class="negrito">Solicitação</td>
                      <td class="">[[escalaConfirma.solicitacaoAlteracao ]]</td>
                  </tr>

              </table>
            <hr/>
            <div class="form-group">
                <label class="form-label">Retorno </label>
                <input class="form-control" name="teste" type="text" v-model="retornoSolicitacao" autofocus="on" autocomplete="off" max-length="255" required="required" />
            </div>

            <div class="alert alert-success" v-if="mensagemSucesso.length > 1">
                <button class="close" data-dismiss="alert">x</button>
                [[mensagemSucesso]]
            </div>
            <div class="alert alert-danger" v-if="mensagemErro.length > 1">
                <button class="close" data-dismiss="alert">x</button>
                [[mensagemErro]]
            </div>

          </div>

      <div class="modal-footer">


          <button :disabled="!retornoSolicitacao || retornoSolicitacao.length <= 0"
                  v-if="aceitarSolicitacao && escalaConfirma.statusSolicitacao == 1" type="button" class="btn btn-primary"
                  v-on:click="enviarRetornoSolicitacao()">Aceitar Solicitação</button>

          <button :disabled="!retornoSolicitacao || retornoSolicitacao.length <= 0"
                  v-if="!aceitarSolicitacao && escalaConfirma.statusSolicitacao == 1" type="button" class="btn btn-danger"
                  v-on:click="enviarRetornoSolicitacao()">Recusar Solicitação</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
      </div>
    </div>
  </div>
</div>
<!--    Modal  Solicitação  -->
</div>


<script type="application/javascript">
    var token = '{{csrf_token}}';
    var userId = "{{request.user.id}}";
</script>
<script type="application/javascript" src="{% static 'web/solicitacoes.js' %}"></script>

{% endblock %}
