{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}
  {{ block.super }}
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

    <!-- Load required Bootstrap and BootstrapVue CSS -->
<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
<!-- Load polyfills to support older browsers -->
<script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>
<!-- Load Vue followed by BootstrapVue -->
<script src="https://vuejs.org/js/vue.js"></script>
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>


  <div id="content-main">

    <form action="/escala/" method="post">
        {% csrf_token %}
        {{ meuform }}
        <input type="submit" value="Submit" />
    </form>

    <b-container class="bv-example-row" id="calendar">
        <b-row>
            <b-col v-for="c in colaboradores">
                [[ c.first_name ]],
            </b-col>
        </b-row>
    </b-container>

<script type="application/javascript">

        let cliente, turno, ponto;

        var app = new Vue({
            el : '#calendar',
            data: {
                colaboradores: [],
                loading: false,
                colaborador: {},
                message: null
            },
            delimiters: ["[[", "]]"],
            mounted: function () {
                this.getColaboradores();
            },
            methods: {
                getColaboradores: function() {
                  this.loading = true;
                  this.$http.get('/api/colaborador/')
                      .then((response) => {
                        this.colaboradores = response.data.results;
                        this.loading = false;
                      })
                      .catch((err) => {
                       this.loading = false;
                       console.log(err);
                      })
                 },
            }
        })

    </script>

  </div>

{% endblock %}



